.siteHeader{
  background-color: #3c4146;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}